@font-face {
    font-family: 'Bienetresocial';
    src: url('../fonts/Bienetresocial.ttf');
}

html {
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    counter-reset: checked-sum-1 0 checked-sum-2 0 checked-sum-3 0 checked-sum-4 0;
}

html.overlay-open {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

* {
    box-sizing: border-box;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-6, .col-7, .col-8 {
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

.col-1 {
    width: 10%;
}

.col-4 {
    width: 40%;
}

.col-6 {
    width: 60%;
}

.col-8 {
    width: 80%;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.button {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    font-family: 'PT Sans Narrow', sans-serif;
    min-width: 180px;
    text-decoration: none;
    -webkit-appearance: none;
}

.button--primary {
    background: linear-gradient(#c83100, #981d00);
    border: 1px solid #7b1700;
    text-shadow: 1px 1px #881e00;
}

.button--primary:hover {
    color: #ffe756;
}

.button--primary:focus,
.button--primary:focus {
    outline: none;
}

.button[disabled="disabled"] {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #b1b1b1;
    border: 1px solid #999999;
    text-shadow: 1px 1px #979797;
}


@media only screen and (max-width: 759px) {
    .container  {
        max-width: 750px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-6, .col-7, .col-8  {
        width: 100%;
    }
}

@media only screen and (min-width: 990px) {
    .container  {
        max-width: 970px;
    }
}

.right { text-align: right; }
.center { text-align: center; }

.img-responsive {
    max-width: 100%;
    height: auto;
}

.title {
    font-family: 'Bienetresocial';
    font-weight: bold;
}

.title--large {
    font-size: 30px;
}

@media only screen and (max-width: 759px) {
    .title--large {
        font-size: 20px;
    }
}

.title--medium {
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 20px;
    width: 100%;
}

.title--medium::after {
    content: '';
    display: block;
    background-color: #ffe756;
    height: 1px;
    width: 100%;
    margin-top: 20px;
    margin-left: -20px;
    padding-left: 20px;
}

.section__counter {
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 24px;
    font-family: 'PT Sans Narrow', sans-serif;
    counter-reset: characters;
}


.title__link {
    text-decoration: none;
    color: #222222;
    display: block;
    width: 100%;
    height: 100%;
}

.title__link:hover {
    color: #614F40;
}

@media only screen and (max-width: 759px) {
    .title__link {
        width: 80%;
    }
}

.main-header {
    top: 0;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 560px;
    width: 100%;
    padding-bottom: 125px;
}

@media only screen and (max-width: 759px) {
    .main-header {
        padding-bottom: 25px;
        min-height: 100px;
    }
}


.main-header .main-header__ribbon {
    font-family: 'PT Sans Narrow', sans-serif;
    width: 260px;
    height: 65px;
    line-height: 75px;
    background: linear-gradient(#981d00, #c83100);
    position: relative;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.main-header .main-header__ribbon::after {
    content: '';
    display: block;
    position: absolute;
    top: 65px;
    background-color: transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 130px 0 130px;
    border-color: #c83100 transparent transparent transparent;
}

@media only screen and (max-width: 759px) {
    .main-header .main-header__ribbon {
        width: 200px;
        height: 45px;
        line-height: 55px;
        font-size: 30px;
    }

    .main-header .main-header__ribbon::after {
        top: 45px;
        border-width: 15px 100px 0 100px;
    }
}

.main-header__logo {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.main-header__block {
    border-radius: 50%;
    background-color: rgba(255,255,255,.7);
    max-width: 505px;
    -webkit-box-shadow: 0px 0px 168px 120px rgba(255,255,255,.7);
    -moz-box-shadow: 0px 0px 168px 120px rgba(255,255,255,.7);
    box-shadow: 0px 0px 168px 120px rgba(255,255,255,.7);
    width: 100%;
}

.main-header__text, .section__text, .block__text  {
    font-size: 20px;
    line-height: 30px;
}

.main-header__pointer {
    font-size: 30px;
    font-weight: bold;
    color: #a62300;
    position: relative;
    padding-left: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}

.main-header__pointer::before {
    content: '';
    display: block;
    left: 0;
    top: 5px;
    position: absolute;
    background-image: url('../images/icon-arrow-down.svg');
    height: 25px;
    width: 25px;
}

@media only screen and (max-width: 759px) {
    .main-header__pointer {
        font-size: 20px;
        padding-left: 20px;
    }

    .main-header__pointer::before {
        height: 15px;
        width: 15px;
    }
}


/* Articled section */

.section__intro {
    font-size: 16px;
    line-height: 24px;
}

@media only screen and (min-width: 760px) {
    .section__intro {
        max-width: 720px;
    }
}

@media only screen and (max-width: 759px) {
    .section__intro {
        max-width: 100%;
    }
}

.section__box {
    margin-top: 60px;
    position: relative;
}

.section__block {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.open.section__block {
    max-height: 100%;
}

.section__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.section__item {
    padding: 18px 0;
    border-bottom: 1px solid #fff8cd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}


@media only screen and (max-width: 759px) {
    .section__item {
        -moz-align-items: flex-start;
        -ms-align-items: flex-start;
        align-items: flex-start;
    }
}

.section__label {
    font-weight: 700;
    font-size: 16px;
}

.section__description {
    margin-bottom: 0;
}

.section__img {
    margin: 0;
    padding: 0 10px;
}

/* Section info */

.block {
    margin-top: 80px;
}

@media only screen and (max-width: 759px) {
    .block {
        margin-top: 20px;
    }
}

.block__left {
    padding-right: 30px;
}


.block__right {
    margin-bottom: -10px;
    z-index: -1;
    position: relative;
    padding-left: 30px;
}

@media only screen and (max-width: 759px) {
    .block__right {
        padding-left: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 760px) and (max-width: 989px) {
    .block__left,
    .block__right {
        width: 100%;
    }
    .block__right {
        text-align: center;
    }
}

/* Footer */

.main-footer {
    padding: 40px 10px;
    background-color: #3b3530;
    font-size: 16px;
    color: #fff;
}

.main-footer .main-footer__link {
    color: #ffe756;
}

.main-footer__link:nth-child(2) {
    text-decoration: none;
    color: #fff;

}

.main-footer .main-footer__link:hover {
    text-decoration: none;
}

/* Pop up */

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
}

.popup-inner {
    max-width: 780px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    box-shadow: 0 2px 6px rgba(0,0,0,1);
    background: #fff;
    color: #222222;
    overflow-y: auto;
}

.popup__title {
    font-size: 30px;
    font-family: 'Bienetresocial';
    margin-top: 0;
    color: #3f2916;
}

.popup__text {
    margin-bottom: 35px;
    margin-top: 0;
    line-height: 24px;
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    text-indent: -9999em;
    width: 18px;
    height: 18px;
}

.popup__close::after,
.popup__close::before {
    content: '';
    display: block;
    height: 4px;
    width: 18px;
    background-color: #888888;
    position: absolute;
    top: 10px;
}

.popup__close::before {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg);
}

.popup__close::after {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg);
}

@media only screen and (max-width: 759px) {
    .popup-inner {
        max-width: 90%;
        max-height: 90%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/* Form styles */


fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
    margin-right: 40px;
}

.checkbox + label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: #efefef;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}

.checkbox:checked + label:before {
    border: 1px solid #f0ce00;
    -webkit-box-shadow: inset 0.5px 0.5px 10px 0px rgba(237,227,175,1);
    -moz-box-shadow: inset 0.5px 0.5px 10px 0px rgba(237,227,175,1);
    box-shadow: inset 0.5px 0.5px 10px 0px rgba(237,227,175,1);
}

.checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.checkbox:checked + label:after {
    content: '';
    background-color: transparent;
    position: absolute;
    width: 5px;
    top: 4px;
    left: 9px;
    border-bottom: 3px solid #3f2916;
    height: 11px;
    border-right: 3px solid #3f2916;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Checkbox counter */

.checkbox--1:checked {
    counter-increment: checked-sum-1;
}

.checkbox--2:checked {
     counter-increment: checked-sum-2;
}

.checkbox--3:checked {
    counter-increment: checked-sum-3;
}

.checkbox--4:checked {
    counter-increment: checked-sum-4;
}

.section__number--1:after {
    content: counter(checked-sum-1);
}

.section__number--2:after {
    content: counter(checked-sum-2);
}

.section__number--3:after {
    content: counter(checked-sum-3);
}

.section__number--4:after {
    content: counter(checked-sum-4);
}





